<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
    <div id="form">
        <input type="text" v-model="a" />
        <input type="text" v-model="a" />
        <div>{{ a }}</div>
        <p>{{ a }}</p>
        {{ a }}{{ b }} <br />
        <input type="text" v-model="b" />
        <p>{{ b }}</p>
        <div>
            <input type="text" v-model="c" />
            <p>{{ c }}</p>
        </div>
        <img v-bind:src="src" v-bind:width="width1" :height="height" v-on:click="log" />
    </div>
    <script src="../js/vue.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script> -->
    <script>
        window.obj = {
            a: 0,
            b: 100,
            c: 'heheh',
            src: "http://cdn.suisuijiang.com/message_1492395396308.png?imageView2/2/w/40/h/40",
            width1: 100,
            height: 100,
        };
        window.vm = new Vue({
            el: '#form',
            data: obj,
            methods: {
                log: function() {
                    console.log('click');
                    console.log(this.c);
                }
            }
        });
    </script>
</body>
</html>