<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实现{{}}的绑定</title>
</head>
<body>
    <div id="form">
        <input type="text" v-model="a" />
        <input type="text" v-model="a" />
        <p>{{ a  }}</p>
        <br />
        <input type="text" v-model="b" />
        {{ b }}
        <div>
            <input type="text" v-model="c" />
            <p>{{ c  }}</p>
            <p>{{ c  }}</p>
        </div>
    </div>
    <script src="../js/vue3.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script> -->
    <script>
        window.vm = new Vue({
            data: {
                a: 0,
                b: 100,
                c: 2,
            },
            el: '#form'
        });
        console.log(vm);
    </script>
</body>
</html>